In [1]:
import pandas as pd
from sodapy import Socrata
import numpy as np
import requests
import time
import csv
import json
from sqlalchemy import create_engine

## API call

In [2]:
client = Socrata("data.melbourne.vic.gov.au", None)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("4n3a-s6rn", limit=50000)
# Convert to pandas DataFrame
historic_df = pd.DataFrame.from_records(results)
historic_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,deviceid,arrivaltime,departuretime,durationminutes,streetmarker,signplateid,sign,areaname,streetid,streetname,betweenstreet1id,betweenstreet1,betweenstreet2id,betweenstreet2,sideofstreet,sidename,bayid,inviolation,vehiclepresent
0,17605,2020-01-31T15:08:32.000,2020-01-31T16:22:54.000,74,13762E,550,Loading Zone 60mins,Docklands,592,DOEPEL WAY,590,DOCKLANDS DRIVE,1048,NEWQUAY PROMENADE,2,East,6650,0,0
1,17585,2020-02-26T05:43:24.000,2020-02-26T06:52:06.000,69,13740E,NaN,NaN,Docklands,1097,PEARL RIVER ROAD,590,DOCKLANDS DRIVE,1066,OBSERVATION DRIVE,2,East,6513,0,1
2,17562,2020-01-13T22:55:52.000,2020-01-13T22:56:09.000,1,13711W,NaN,NaN,Docklands,1405,WATTLE ROAD,880,LEVEN AVENUE,590,DOCKLANDS DRIVE,5,West,6483,0,1
3,17554,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,13697W,NaN,NaN,Docklands,1043,NAVIGATION DRIVE,528,COLLINS STREET,123,BOURKE STREET,5,West,6435,0,0
4,17580,2020-01-08T17:05:43.000,2020-01-08T17:40:29.000,35,13730E,196,2P MTR M-SAT 7:30-18:30,Docklands,1097,PEARL RIVER ROAD,590,DOCKLANDS DRIVE,1066,OBSERVATION DRIVE,2,East,6508,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,17691,2020-03-16T12:32:34.000,2020-03-16T12:46:56.000,14,13857S,637,LZ 30Mins 7.30am -6.30PM,Docklands,164,CARAVEL LANE,1227,SAINT MANGOS LANE,36,AQUITANIA WAY,4,South,6614,0,1
49996,17730,2020-01-08T18:30:00.000,2020-01-08T18:38:55.000,8,C13504,NaN,NaN,Docklands,123,BOURKE STREET,753,HARBOUR ESPLANADE,697,GEOGRAPHE STREET,1,Centre,6102,0,1
49997,17743,2020-03-02T10:22:14.000,2020-03-02T10:23:58.000,1,C13556,196,2P MTR M-SAT 7:30-18:30,Docklands,123,BOURKE STREET,753,HARBOUR ESPLANADE,697,GEOGRAPHE STREET,1,Centre,6115,0,0
49998,17695,2020-02-21T05:59:23.000,2020-02-21T06:01:14.000,2,13861S,NaN,NaN,Docklands,164,CARAVEL LANE,1227,SAINT MANGOS LANE,36,AQUITANIA WAY,4,South,6616,0,1
49999,17704,2020-03-11T10:59:24.000,2020-03-11T11:01:42.000,2,13878N,631,1/4P 7:30-18:30 NO DAYS,Docklands,164,CARAVEL LANE,1227,SAINT MANGOS LANE,36,AQUITANIA WAY,3,North,6623,0,1

## Cleaning dataframes to join

In [3]:
historic_df = historic_df[["bayid", "arrivaltime", "departuretime", "durationminutes", "areaname"]]
historic_df

,bayid,arrivaltime,departuretime,durationminutes,areaname
0,6650,2020-01-31T15:08:32.000,2020-01-31T16:22:54.000,74,Docklands
1,6513,2020-02-26T05:43:24.000,2020-02-26T06:52:06.000,69,Docklands
2,6483,2020-01-13T22:55:52.000,2020-01-13T22:56:09.000,1,Docklands
3,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands
4,6508,2020-01-08T17:05:43.000,2020-01-08T17:40:29.000,35,Docklands
...,...,...,...,...,...
49995,6614,2020-03-16T12:32:34.000,2020-03-16T12:46:56.000,14,Docklands
49996,6102,2020-01-08T18:30:00.000,2020-01-08T18:38:55.000,8,Docklands
49997,6115,2020-03-02T10:22:14.000,2020-03-02T10:23:58.000,1,Docklands
49998,6616,2020-02-21T05:59:23.000,2020-02-21T06:01:14.000,2,Docklands
49999,6623,2020-03-11T10:59:24.000,2020-03-11T11:01:42.000,2,Docklands

In [4]:
historic_df['bayid'] = historic_df['bayid'].astype(int)

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [5]:
historic_df.dtypes

bayid               int32
arrivaltime        object
departuretime      object
durationminutes    object
areaname           object
dtype: object

In [6]:
historic_df.rename(columns = {'bayid':'bay_id'}, inplace = True) 
historic_df

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\pandas\core\frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,bay_id,arrivaltime,departuretime,durationminutes,areaname
0,6650,2020-01-31T15:08:32.000,2020-01-31T16:22:54.000,74,Docklands
1,6513,2020-02-26T05:43:24.000,2020-02-26T06:52:06.000,69,Docklands
2,6483,2020-01-13T22:55:52.000,2020-01-13T22:56:09.000,1,Docklands
3,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands
4,6508,2020-01-08T17:05:43.000,2020-01-08T17:40:29.000,35,Docklands
...,...,...,...,...,...
49995,6614,2020-03-16T12:32:34.000,2020-03-16T12:46:56.000,14,Docklands
49996,6102,2020-01-08T18:30:00.000,2020-01-08T18:38:55.000,8,Docklands
49997,6115,2020-03-02T10:22:14.000,2020-03-02T10:23:58.000,1,Docklands
49998,6616,2020-02-21T05:59:23.000,2020-02-21T06:01:14.000,2,Docklands
49999,6623,2020-03-11T10:59:24.000,2020-03-11T11:01:42.000,2,Docklands

In [7]:
historic_df = historic_df.dropna(subset = ["areaname"])
historic_df

,bay_id,arrivaltime,departuretime,durationminutes,areaname
0,6650,2020-01-31T15:08:32.000,2020-01-31T16:22:54.000,74,Docklands
1,6513,2020-02-26T05:43:24.000,2020-02-26T06:52:06.000,69,Docklands
2,6483,2020-01-13T22:55:52.000,2020-01-13T22:56:09.000,1,Docklands
3,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands
4,6508,2020-01-08T17:05:43.000,2020-01-08T17:40:29.000,35,Docklands
...,...,...,...,...,...
49995,6614,2020-03-16T12:32:34.000,2020-03-16T12:46:56.000,14,Docklands
49996,6102,2020-01-08T18:30:00.000,2020-01-08T18:38:55.000,8,Docklands
49997,6115,2020-03-02T10:22:14.000,2020-03-02T10:23:58.000,1,Docklands
49998,6616,2020-02-21T05:59:23.000,2020-02-21T06:01:14.000,2,Docklands
49999,6623,2020-03-11T10:59:24.000,2020-03-11T11:01:42.000,2,Docklands

In [8]:
historic_df.drop_duplicates("bay_id", inplace=True)
historic_df

,bay_id,arrivaltime,departuretime,durationminutes,areaname
0,6650,2020-01-31T15:08:32.000,2020-01-31T16:22:54.000,74,Docklands
1,6513,2020-02-26T05:43:24.000,2020-02-26T06:52:06.000,69,Docklands
2,6483,2020-01-13T22:55:52.000,2020-01-13T22:56:09.000,1,Docklands
3,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands
4,6508,2020-01-08T17:05:43.000,2020-01-08T17:40:29.000,35,Docklands
...,...,...,...,...,...
42915,6579,2020-01-04T16:10:49.000,2020-01-04T17:33:55.000,83,Docklands
44039,6320,2020-01-02T21:42:21.000,2020-01-02T22:13:10.000,31,Docklands
44731,6758,2020-03-06T00:54:31.000,2020-03-06T06:22:53.000,328,Docklands
44873,6045,2020-01-28T04:16:35.000,2020-01-28T05:17:22.000,61,Docklands
49190,5096,2020-02-10T00:00:00.000,2020-02-10T07:30:00.000,450,Southbank

## API call

In [9]:
client = Socrata("data.melbourne.vic.gov.au", None)
# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("vh2v-4nfs", limit=50000)
# Convert to pandas DataFrame
live_df = pd.DataFrame.from_records(results)
live_df

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

,bay_id,st_marker_id,status,location,lat,lon,:@computed_region_evbi_jbp8
0,7966,15020E,Unoccupied,"{'latitude': '-37.81749471348834', 'longitude'...",-37.81749471348834,144.9819974921765,1
1,2236,3922N,Present,"{'latitude': '-37.81212183566778', 'longitude'...",-37.81212183566778,144.95488565311987,1
2,6306,13369W,Unoccupied,"{'latitude': '-37.81961403369341', 'longitude'...",-37.81961403369341,144.94972824253819,1
3,3147,5329W,Present,"{'latitude': '-37.81084570995648', 'longitude'...",-37.81084570995648,144.9558703069698,1
4,6183,13256N,Unoccupied,"{'latitude': '-37.81989373658233', 'longitude'...",-37.81989373658233,144.94328768081613,1
...,...,...,...,...,...,...,...
3082,3008,5072E,Present,"{'latitude': '-37.80495738619152', 'longitude'...",-37.80495738619152,144.95797680186288,1
3083,6427,13681W,Present,"{'latitude': '-37.8208605302265', 'longitude':...",-37.8208605302265,144.9461877051497,1
3084,6247,13312N,Unoccupied,"{'latitude': '-37.822240565681255', 'longitude...",-37.822240565681255,144.94676108046633,1
3085,6390,13636E,Unoccupied,"{'latitude': '-37.82036873067143', 'longitude'...",-37.82036873067143,144.94457489244326,1
3086,6387,13637W,Present,"{'latitude': '-37.8200730505486', 'longitude':...",-37.8200730505486,144.94433782123173,1

In [10]:
live_df.drop_duplicates("bay_id", inplace=True)
live_df

,bay_id,st_marker_id,status,location,lat,lon,:@computed_region_evbi_jbp8
0,7966,15020E,Unoccupied,"{'latitude': '-37.81749471348834', 'longitude'...",-37.81749471348834,144.9819974921765,1
1,2236,3922N,Present,"{'latitude': '-37.81212183566778', 'longitude'...",-37.81212183566778,144.95488565311987,1
2,6306,13369W,Unoccupied,"{'latitude': '-37.81961403369341', 'longitude'...",-37.81961403369341,144.94972824253819,1
3,3147,5329W,Present,"{'latitude': '-37.81084570995648', 'longitude'...",-37.81084570995648,144.9558703069698,1
4,6183,13256N,Unoccupied,"{'latitude': '-37.81989373658233', 'longitude'...",-37.81989373658233,144.94328768081613,1
...,...,...,...,...,...,...,...
3082,3008,5072E,Present,"{'latitude': '-37.80495738619152', 'longitude'...",-37.80495738619152,144.95797680186288,1
3083,6427,13681W,Present,"{'latitude': '-37.8208605302265', 'longitude':...",-37.8208605302265,144.9461877051497,1
3084,6247,13312N,Unoccupied,"{'latitude': '-37.822240565681255', 'longitude...",-37.822240565681255,144.94676108046633,1
3085,6390,13636E,Unoccupied,"{'latitude': '-37.82036873067143', 'longitude'...",-37.82036873067143,144.94457489244326,1
3086,6387,13637W,Present,"{'latitude': '-37.8200730505486', 'longitude':...",-37.8200730505486,144.94433782123173,1

In [11]:
new_df = live_df[["bay_id", "lat", "lon"]]
new_df

     bay_id                  lat                 lon
0      7966   -37.81749471348834   144.9819974921765
1      2236   -37.81212183566778  144.95488565311987
2      6306   -37.81961403369341  144.94972824253819
3      3147   -37.81084570995648   144.9558703069698
4      6183   -37.81989373658233  144.94328768081613
...     ...                  ...                 ...
3082   3008   -37.80495738619152  144.95797680186288
3083   6427    -37.8208605302265   144.9461877051497
3084   6247  -37.822240565681255  144.94676108046633
3085   6390   -37.82036873067143  144.94457489244326
3086   6387    -37.8200730505486  144.94433782123173

[3087 rows x 3 columns]

In [12]:
new_df['bay_id'] = new_df['bay_id'].astype(int)

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## Merging dataframes

In [13]:
df_merge_col = pd.merge(historic_df, new_df, how='right', on='bay_id')
df_merge_col

,bay_id,arrivaltime,departuretime,durationminutes,areaname,lat,lon
0,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands,-37.81985853347056,144.9459236821079
1,6421,2020-01-28T08:35:23.000,2020-01-28T08:40:17.000,5,Docklands,-37.82103901739355,144.94543085388358
2,6419,2020-02-18T18:30:00.000,2020-02-18T19:04:14.000,34,Docklands,-37.82099788099109,144.94532421874825
3,6428,2020-01-09T08:31:21.000,2020-01-09T08:31:43.000,0,Docklands,-37.82051140418841,144.94609471266074
4,6427,2020-01-13T17:08:12.000,2020-01-13T17:08:46.000,0,Docklands,-37.8208605302265,144.9461877051497
...,...,...,...,...,...,...,...
3082,2700,NaN,NaN,NaN,NaN,-37.80319296434918,144.94399913772605
3083,3365,NaN,NaN,NaN,NaN,-37.804212839877096,144.94314966085244
3084,3008,NaN,NaN,NaN,NaN,-37.80495738619152,144.95797680186288
3085,6247,NaN,NaN,NaN,NaN,-37.822240565681255,144.94676108046633
3086,6390,NaN,NaN,NaN,NaN,-37.82036873067143,144.94457489244326

In [14]:
df_merge_col.drop_duplicates("bay_id", inplace=True)
df_merge_col

,bay_id,arrivaltime,departuretime,durationminutes,areaname,lat,lon
0,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands,-37.81985853347056,144.9459236821079
1,6421,2020-01-28T08:35:23.000,2020-01-28T08:40:17.000,5,Docklands,-37.82103901739355,144.94543085388358
2,6419,2020-02-18T18:30:00.000,2020-02-18T19:04:14.000,34,Docklands,-37.82099788099109,144.94532421874825
3,6428,2020-01-09T08:31:21.000,2020-01-09T08:31:43.000,0,Docklands,-37.82051140418841,144.94609471266074
4,6427,2020-01-13T17:08:12.000,2020-01-13T17:08:46.000,0,Docklands,-37.8208605302265,144.9461877051497
...,...,...,...,...,...,...,...
3082,2700,NaN,NaN,NaN,NaN,-37.80319296434918,144.94399913772605
3083,3365,NaN,NaN,NaN,NaN,-37.804212839877096,144.94314966085244
3084,3008,NaN,NaN,NaN,NaN,-37.80495738619152,144.95797680186288
3085,6247,NaN,NaN,NaN,NaN,-37.822240565681255,144.94676108046633
3086,6390,NaN,NaN,NaN,NaN,-37.82036873067143,144.94457489244326

In [15]:
df_merge_col = df_merge_col.dropna()
df_merge_col

,bay_id,arrivaltime,departuretime,durationminutes,areaname,lat,lon
0,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,Docklands,-37.81985853347056,144.9459236821079
1,6421,2020-01-28T08:35:23.000,2020-01-28T08:40:17.000,5,Docklands,-37.82103901739355,144.94543085388358
2,6419,2020-02-18T18:30:00.000,2020-02-18T19:04:14.000,34,Docklands,-37.82099788099109,144.94532421874825
3,6428,2020-01-09T08:31:21.000,2020-01-09T08:31:43.000,0,Docklands,-37.82051140418841,144.94609471266074
4,6427,2020-01-13T17:08:12.000,2020-01-13T17:08:46.000,0,Docklands,-37.8208605302265,144.9461877051497
...,...,...,...,...,...,...,...
141,6699,2020-04-04T07:30:00.000,2020-04-04T07:32:37.000,2,Regency,-37.80861319837623,144.9717777829774
142,6320,2020-01-02T21:42:21.000,2020-01-02T22:13:10.000,31,Docklands,-37.821271039627376,144.9510326336336
143,6758,2020-03-06T00:54:31.000,2020-03-06T06:22:53.000,328,Docklands,-37.821005322182685,144.94422256740768
144,6045,2020-01-28T04:16:35.000,2020-01-28T05:17:22.000,61,Docklands,-37.81982751532851,144.95122373557066
145,5096,2020-02-10T00:00:00.000,2020-02-10T07:30:00.000,450,Southbank,-37.82548875847726,144.96884326235067

In [16]:
df_merge_col["areaname"] = df_merge_col["areaname"].str.lower()

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [17]:
df_merge_col

,bay_id,arrivaltime,departuretime,durationminutes,areaname,lat,lon
0,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,docklands,-37.81985853347056,144.9459236821079
1,6421,2020-01-28T08:35:23.000,2020-01-28T08:40:17.000,5,docklands,-37.82103901739355,144.94543085388358
2,6419,2020-02-18T18:30:00.000,2020-02-18T19:04:14.000,34,docklands,-37.82099788099109,144.94532421874825
3,6428,2020-01-09T08:31:21.000,2020-01-09T08:31:43.000,0,docklands,-37.82051140418841,144.94609471266074
4,6427,2020-01-13T17:08:12.000,2020-01-13T17:08:46.000,0,docklands,-37.8208605302265,144.9461877051497
...,...,...,...,...,...,...,...
141,6699,2020-04-04T07:30:00.000,2020-04-04T07:32:37.000,2,regency,-37.80861319837623,144.9717777829774
142,6320,2020-01-02T21:42:21.000,2020-01-02T22:13:10.000,31,docklands,-37.821271039627376,144.9510326336336
143,6758,2020-03-06T00:54:31.000,2020-03-06T06:22:53.000,328,docklands,-37.821005322182685,144.94422256740768
144,6045,2020-01-28T04:16:35.000,2020-01-28T05:17:22.000,61,docklands,-37.81982751532851,144.95122373557066
145,5096,2020-02-10T00:00:00.000,2020-02-10T07:30:00.000,450,southbank,-37.82548875847726,144.96884326235067

## Normalising Dataframes

In [18]:
# Converting columns in the dataframe to separate tables to be saved as csv 
def convert_column_to_fk(df, column, output_dir):
    values = sorted(list(df[column].unique()))
    ids = range(1, len(values) + 1)    
    fk_df = pd.DataFrame(values, index = ids).reset_index()
    fk_df.columns = ["id", column]
    fk_df.to_csv(f"{output_dir}/{column}.csv", index = False)
    df[column] = df[column].replace(dict(zip(values, ids)))
    df = df.rename(columns = {column: f"{column}_id"})
    return df

In [19]:
df_merge_col['areaname'] = df_merge_col['areaname'].astype(str)

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
complete = convert_column_to_fk(df_merge_col,"areaname","output")
complete

C:\Users\Rishit\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,bay_id,arrivaltime,departuretime,durationminutes,areaname_id,lat,lon
0,6435,2020-02-06T00:00:00.000,2020-02-06T07:30:00.000,450,1,-37.81985853347056,144.9459236821079
1,6421,2020-01-28T08:35:23.000,2020-01-28T08:40:17.000,5,1,-37.82103901739355,144.94543085388358
2,6419,2020-02-18T18:30:00.000,2020-02-18T19:04:14.000,34,1,-37.82099788099109,144.94532421874825
3,6428,2020-01-09T08:31:21.000,2020-01-09T08:31:43.000,0,1,-37.82051140418841,144.94609471266074
4,6427,2020-01-13T17:08:12.000,2020-01-13T17:08:46.000,0,1,-37.8208605302265,144.9461877051497
...,...,...,...,...,...,...,...
141,6699,2020-04-04T07:30:00.000,2020-04-04T07:32:37.000,2,5,-37.80861319837623,144.9717777829774
142,6320,2020-01-02T21:42:21.000,2020-01-02T22:13:10.000,31,1,-37.821271039627376,144.9510326336336
143,6758,2020-03-06T00:54:31.000,2020-03-06T06:22:53.000,328,1,-37.821005322182685,144.94422256740768
144,6045,2020-01-28T04:16:35.000,2020-01-28T05:17:22.000,61,1,-37.81982751532851,144.95122373557066
145,5096,2020-02-10T00:00:00.000,2020-02-10T07:30:00.000,450,6,-37.82548875847726,144.96884326235067

## Structuring tables for creating database

In [21]:
parking_bay = complete[["bay_id", "lat", "lon", "areaname_id"]]
parking_bay.set_index("bay_id", inplace=True)
parking_bay

                        lat                 lon  areaname_id
bay_id
6435     -37.81985853347056   144.9459236821079            1
6421     -37.82103901739355  144.94543085388358            1
6419     -37.82099788099109  144.94532421874825            1
6428     -37.82051140418841  144.94609471266074            1
6427      -37.8208605302265   144.9461877051497            1
...                     ...                 ...          ...
6699     -37.80861319837623   144.9717777829774            5
6320    -37.821271039627376   144.9510326336336            1
6758    -37.821005322182685  144.94422256740768            1
6045     -37.81982751532851  144.95122373557066            1
5096     -37.82548875847726  144.96884326235067            6

[146 rows x 3 columns]

In [22]:
parking_duration = complete[["bay_id", "arrivaltime", "departuretime", "durationminutes"]]
parking_duration.set_index("bay_id", inplace=True)
parking_duration

                    arrivaltime            departuretime durationminutes
bay_id
6435    2020-02-06T00:00:00.000  2020-02-06T07:30:00.000             450
6421    2020-01-28T08:35:23.000  2020-01-28T08:40:17.000               5
6419    2020-02-18T18:30:00.000  2020-02-18T19:04:14.000              34
6428    2020-01-09T08:31:21.000  2020-01-09T08:31:43.000               0
6427    2020-01-13T17:08:12.000  2020-01-13T17:08:46.000               0
...                         ...                      ...             ...
6699    2020-04-04T07:30:00.000  2020-04-04T07:32:37.000               2
6320    2020-01-02T21:42:21.000  2020-01-02T22:13:10.000              31
6758    2020-03-06T00:54:31.000  2020-03-06T06:22:53.000             328
6045    2020-01-28T04:16:35.000  2020-01-28T05:17:22.000              61
5096    2020-02-10T00:00:00.000  2020-02-10T07:30:00.000             450

[146 rows x 3 columns]

## Create database connection

In [23]:
connection_string = "postgres:password@localhost:5432/Parking_db"
engine = create_engine(f'postgresql://{connection_string}')

In [24]:
engine.table_names()

['Area', 'Parking_bay', 'Parking_duration']

## Load DataFrames into database

In [25]:
parking_bay.to_sql(name='Parking_bay', con=engine, if_exists='append', index=True)

In [26]:
parking_duration.to_sql(name='Parking_duration', con=engine, if_exists='append', index=True)

## Convert DataFrame to .html file ##

In [29]:
html = df_merge_col.to_html()
print(html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>bay_id</th>
      <th>arrivaltime</th>
      <th>departuretime</th>
      <th>durationminutes</th>
      <th>areaname</th>
      <th>lat</th>
      <th>lon</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>6435</td>
      <td>2020-02-06T00:00:00.000</td>
      <td>2020-02-06T07:30:00.000</td>
      <td>450</td>
      <td>1</td>
      <td>-37.81985853347056</td>
      <td>144.9459236821079</td>
    </tr>
    <tr>
      <th>1</th>
      <td>6421</td>
      <td>2020-01-28T08:35:23.000</td>
      <td>2020-01-28T08:40:17.000</td>
      <td>5</td>
      <td>1</td>
      <td>-37.82103901739355</td>
      <td>144.94543085388358</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6419</td>
      <td>2020-02-18T18:30:00.000</td>
      <td>2020-02-18T19:04:14.000</td>
      <td>34</td>
      <td>1</td>
      <td>-37.82099788099109</td>
      <td>144.94532421874825</td>
    </tr>
    <tr>
      <th>3</th>
      <td>6428</td>
      <td>2020-01-09T08:31:21.000</td>
      <td>2020-01-09T08:31:43.000</td>
      <td>0</td>
      <td>1</td>
      <td>-37.82051140418841</td>
      <td>144.94609471266074</td>
    </tr>
    <tr>
      <th>4</th>
      <td>6427</td>
      <td>2020-01-13T17:08:12.000</td>
      <td>2020-01-13T17:08:46.000</td>
      <td>0</td>
      <td>1</td>
      <td>-37.8208605302265</td>
      <td>144.9461877051497</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2353</td>
      <td>2020-03-20T17:32:36.000</td>
      <td>2020-03-20T17:33:14.000</td>
      <td>1</td>
      <td>7</td>
      <td>-37.813190421481636</td>
      <td>144.95880038177285</td>
    </tr>
    <tr>
      <th>6</th>
      <td>5155</td>
      <td>2020-01-04T18:55:13.000</td>
      <td>2020-01-04T23:16:38.000</td>
      <td>261</td>
      <td>6</td>
      <td>-37.826054762426196</td>
      <td>144.96692560396133</td>
    </tr>
    <tr>
      <th>7</th>
      <td>6433</td>
      <td>2020-01-22T10:52:41.000</td>
      <td>2020-01-22T10:59:03.000</td>
      <td>7</td>
      <td>1</td>
      <td>-37.820205576322415</td>
      <td>144.94601442769743</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6434</td>
      <td>2020-01-13T23:29:48.000</td>
      <td>2020-01-13T23:31:00.000</td>
      <td>2</td>
      <td>1</td>
      <td>-37.82014416727483</td>
      <td>144.9459997769062</td>
    </tr>
    <tr>
      <th>9</th>
      <td>6412</td>
      <td>2020-02-04T23:34:21.000</td>
      <td>2020-02-04T23:44:12.000</td>
      <td>10</td>
      <td>1</td>
      <td>-37.81985837701672</td>
      <td>144.94536883725118</td>
    </tr>
    <tr>
      <th>10</th>
      <td>6431</td>
      <td>2020-02-17T09:28:55.000</td>
      <td>2020-02-17T11:38:49.000</td>
      <td>130</td>
      <td>1</td>
      <td>-37.82032834866027</td>
      <td>144.9460464281878</td>
    </tr>
    <tr>
      <th>11</th>
      <td>6429</td>
      <td>2020-01-19T18:14:28.000</td>
      <td>2020-01-19T18:14:56.000</td>
      <td>0</td>
      <td>1</td>
      <td>-37.82045109868588</td>
      <td>144.94607848013453</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6408</td>
      <td>2020-01-28T07:30:00.000</td>
      <td>2020-01-28T07:57:38.000</td>
      <td>27</td>
      <td>1</td>
      <td>-37.82037534804658</td>
      <td>144.945502974739</td>
    </tr>
    <tr>
      <th>13</th>
      <td>6388</td>
      <td>2020-01-24T21:49:28.000</td>
      <td>2020-01-24T21:50:28.000</td>
      <td>1</td>
      <td>1</td>
      <td>-37.8200185010147</td>
      <td>144.94431284676216</td>
    </tr>
    <tr>
      <th>14</th>
      <td>6387</td>
      <td>2020-02-25T07:30:00.000</td>
      <td>2020-02-25T08:35:42.000</td>
      <td>65</td>
      <td>1</td>
      <td>-37.8200730505486</td>
      <td>144.94433782123173</td>
    </tr>
    <tr>
      <th>15</th>
      <td>5146</td>
      <td>2020-01-17T18:30:00.000</td>
      <td>2020-01-17T21:12:25.000</td>
      <td>162</td>
      <td>6</td>
      <td>-37.825959398042436</td>
      <td>144.9672529363197</td>
    </tr>
    <tr>
      <th>16</th>
      <td>4668</td>
      <td>2020-01-23T07:14:35.000</td>
      <td>2020-01-23T07:22:34.000</td>
      <td>8</td>
      <td>6</td>
      <td>-37.8248974184067</td>
      <td>144.96702055374405</td>
    </tr>
    <tr>
      <th>17</th>
      <td>6401</td>
      <td>2020-03-04T11:38:54.000</td>
      <td>2020-03-04T11:39:25.000</td>
      <td>1</td>
      <td>1</td>
      <td>-37.82024151135455</td>
      <td>144.9453732793993</td>
    </tr>
    <tr>
      <th>18</th>
      <td>6409</td>
      <td>2020-02-03T09:21:53.000</td>
      <td>2020-02-03T11:44:15.000</td>
      <td>143</td>
      <td>1</td>
      <td>-37.82031162170047</td>
      <td>144.94548627048027</td>
    </tr>
    <tr>
      <th>19</th>
      <td>6386</td>
      <td>2020-03-19T18:30:00.000</td>
      <td>2020-03-19T19:27:52.000</td>
      <td>57</td>
      <td>1</td>
      <td>-37.82012665834914</td>
      <td>144.9443629710079</td>
    </tr>
    <tr>
      <th>20</th>
      <td>6395</td>
      <td>2020-01-01T18:30:00.000</td>
      <td>2020-01-01T18:55:56.000</td>
      <td>25</td>
      <td>1</td>
      <td>-37.820609526208955</td>
      <td>144.9454694646659</td>
    </tr>
    <tr>
      <th>21</th>
      <td>6432</td>
      <td>2020-01-13T09:02:52.000</td>
      <td>2020-01-13T11:04:34.000</td>
      <td>122</td>
      <td>1</td>
      <td>-37.82026695743224</td>
      <td>144.9460303378025</td>
    </tr>
    <tr>
      <th>22</th>
      <td>6391</td>
      <td>2020-02-19T00:00:00.000</td>
      <td>2020-02-19T07:30:00.000</td>
      <td>450</td>
      <td>1</td>
      <td>-37.82031363905712</td>
      <td>144.9445507676984</td>
    </tr>
    <tr>
      <th>23</th>
      <td>5060</td>
      <td>2020-03-13T06:53:58.000</td>
      <td>2020-03-13T07:30:00.000</td>
      <td>37</td>
      <td>6</td>
      <td>-37.82528281058076</td>
      <td>144.96991750774305</td>
    </tr>
    <tr>
      <th>24</th>
      <td>5141</td>
      <td>2020-02-06T19:18:02.000</td>
      <td>2020-02-06T21:20:36.000</td>
      <td>122</td>
      <td>6</td>
      <td>-37.825929575948365</td>
      <td>144.96735529376676</td>
    </tr>
    <tr>
      <th>25</th>
      <td>5144</td>
      <td>2020-03-14T19:08:04.000</td>
      <td>2020-03-14T19:09:06.000</td>
      <td>1</td>
      <td>6</td>
      <td>-37.825944486806165</td>
      <td>144.96730411505928</td>
    </tr>
    <tr>
      <th>26</th>
      <td>5073</td>
      <td>2020-01-10T18:30:00.000</td>
      <td>2020-01-10T22:29:30.000</td>
      <td>239</td>
      <td>6</td>
      <td>-37.82519406482166</td>
      <td>144.96986087545696</td>
    </tr>
    <tr>
      <th>27</th>
      <td>6102</td>
      <td>2020-04-01T07:30:00.000</td>
      <td>2020-04-01T11:20:56.000</td>
      <td>230</td>
      <td>1</td>
      <td>-37.81922796888642</td>
      <td>144.94590260169764</td>
    </tr>
    <tr>
      <th>28</th>
      <td>6389</td>
      <td>2020-05-18T11:03:47.000</td>
      <td>2020-05-18T13:42:13.000</td>
      <td>159</td>
      <td>1</td>
      <td>-37.81996243486995</td>
      <td>144.94428899999997</td>
    </tr>
    <tr>
      <th>29</th>
      <td>5091</td>
      <td>2020-01-24T18:30:00.000</td>
      <td>2020-01-24T22:39:40.000</td>
      <td>249</td>
      <td>6</td>
      <td>-37.82557149268495</td>
      <td>144.96892735783138</td>
    </tr>
    <tr>
      <th>30</th>
      <td>6332</td>
      <td>2020-02-07T18:30:00.000</td>
      <td>2020-02-07T21:58:49.000</td>
      <td>208</td>
      <td>1</td>
      <td>-37.81949229145816</td>
      <td>144.9504366415831</td>
    </tr>
    <tr>
      <th>31</th>
      <td>6398</td>
      <td>2020-05-23T05:03:08.000</td>
      <td>2020-05-23T07:30:00.000</td>
      <td>147</td>
      <td>1</td>
      <td>-37.82042089676618</td>
      <td>144.94542033551966</td>
    </tr>
    <tr>
      <th>32</th>
      <td>6329</td>
      <td>2020-02-01T06:53:53.000</td>
      <td>2020-02-01T07:30:00.000</td>
      <td>37</td>
      <td>1</td>
      <td>-37.81884401722239</td>
      <td>144.94992492565876</td>
    </tr>
    <tr>
      <th>33</th>
      <td>5147</td>
      <td>2020-01-22T14:39:41.000</td>
      <td>2020-01-22T17:42:00.000</td>
      <td>183</td>
      <td>6</td>
      <td>-37.82596669710984</td>
      <td>144.96722787979286</td>
    </tr>
    <tr>
      <th>34</th>
      <td>5079</td>
      <td>2020-03-16T18:30:00.000</td>
      <td>2020-03-17T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.825243256419526</td>
      <td>144.96969247238326</td>
    </tr>
    <tr>
      <th>35</th>
      <td>5151</td>
      <td>2020-02-19T18:30:00.000</td>
      <td>2020-02-19T21:08:29.000</td>
      <td>158</td>
      <td>6</td>
      <td>-37.82599667394782</td>
      <td>144.96712498853879</td>
    </tr>
    <tr>
      <th>36</th>
      <td>6333</td>
      <td>2020-03-20T06:19:41.000</td>
      <td>2020-03-20T07:30:00.000</td>
      <td>71</td>
      <td>1</td>
      <td>-37.81954177019237</td>
      <td>144.95047574201627</td>
    </tr>
    <tr>
      <th>37</th>
      <td>5136</td>
      <td>2020-01-28T00:00:00.000</td>
      <td>2020-01-28T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.826081168135794</td>
      <td>144.9671815385024</td>
    </tr>
    <tr>
      <th>38</th>
      <td>5076</td>
      <td>2020-03-10T19:11:55.000</td>
      <td>2020-03-10T22:20:04.000</td>
      <td>189</td>
      <td>6</td>
      <td>-37.825218810244436</td>
      <td>144.96977613546596</td>
    </tr>
    <tr>
      <th>39</th>
      <td>5148</td>
      <td>2020-03-18T18:30:00.000</td>
      <td>2020-03-19T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.82597415273335</td>
      <td>144.9672022907011</td>
    </tr>
    <tr>
      <th>40</th>
      <td>5057</td>
      <td>2020-01-16T23:45:57.000</td>
      <td>2020-01-16T23:49:08.000</td>
      <td>4</td>
      <td>6</td>
      <td>-37.82509507210527</td>
      <td>144.97019984945638</td>
    </tr>
    <tr>
      <th>41</th>
      <td>5104</td>
      <td>2020-01-12T00:00:00.000</td>
      <td>2020-01-12T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.82552097320152</td>
      <td>144.96873292859686</td>
    </tr>
    <tr>
      <th>42</th>
      <td>6328</td>
      <td>2020-01-14T01:04:06.000</td>
      <td>2020-01-14T02:53:53.000</td>
      <td>109</td>
      <td>1</td>
      <td>-37.8187948047274</td>
      <td>144.94988619155254</td>
    </tr>
    <tr>
      <th>43</th>
      <td>6393</td>
      <td>2020-01-09T22:31:44.000</td>
      <td>2020-01-10T00:00:00.000</td>
      <td>89</td>
      <td>1</td>
      <td>-37.82010084378016</td>
      <td>144.94445167844503</td>
    </tr>
    <tr>
      <th>44</th>
      <td>6321</td>
      <td>2020-01-16T00:00:00.000</td>
      <td>2020-01-16T06:37:00.000</td>
      <td>397</td>
      <td>1</td>
      <td>-37.821314914205885</td>
      <td>144.95106735815125</td>
    </tr>
    <tr>
      <th>45</th>
      <td>5087</td>
      <td>2020-01-26T20:38:24.000</td>
      <td>2020-01-26T23:47:31.000</td>
      <td>189</td>
      <td>6</td>
      <td>-37.82544817643825</td>
      <td>144.9689823818615</td>
    </tr>
    <tr>
      <th>46</th>
      <td>5092</td>
      <td>2020-03-13T00:00:00.000</td>
      <td>2020-03-13T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.8254724322434</td>
      <td>144.96889922993677</td>
    </tr>
    <tr>
      <th>47</th>
      <td>5137</td>
      <td>2020-01-31T00:00:00.000</td>
      <td>2020-01-31T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.825914665978246</td>
      <td>144.9674064724545</td>
    </tr>
    <tr>
      <th>48</th>
      <td>6335</td>
      <td>2020-01-08T18:34:45.000</td>
      <td>2020-01-09T00:00:00.000</td>
      <td>326</td>
      <td>1</td>
      <td>-37.81965271469275</td>
      <td>144.95056196067844</td>
    </tr>
    <tr>
      <th>49</th>
      <td>5139</td>
      <td>2020-03-02T00:00:00.000</td>
      <td>2020-03-02T03:22:22.000</td>
      <td>202</td>
      <td>6</td>
      <td>-37.82592212118155</td>
      <td>144.96738088338464</td>
    </tr>
    <tr>
      <th>50</th>
      <td>5068</td>
      <td>2020-02-09T18:30:00.000</td>
      <td>2020-02-09T20:48:43.000</td>
      <td>138</td>
      <td>6</td>
      <td>-37.82535788771055</td>
      <td>144.96966134096016</td>
    </tr>
    <tr>
      <th>51</th>
      <td>5152</td>
      <td>2020-02-01T22:58:19.000</td>
      <td>2020-02-02T00:00:00.000</td>
      <td>62</td>
      <td>6</td>
      <td>-37.82603239661488</td>
      <td>144.96700237253026</td>
    </tr>
    <tr>
      <th>52</th>
      <td>5312</td>
      <td>2020-01-28T22:24:08.000</td>
      <td>2020-01-28T22:39:13.000</td>
      <td>15</td>
      <td>6</td>
      <td>-37.829506278589136</td>
      <td>144.97103500186853</td>
    </tr>
    <tr>
      <th>53</th>
      <td>5103</td>
      <td>2020-03-04T18:30:00.000</td>
      <td>2020-03-04T21:52:09.000</td>
      <td>202</td>
      <td>6</td>
      <td>-37.825683245808385</td>
      <td>144.96854386777866</td>
    </tr>
    <tr>
      <th>54</th>
      <td>4989</td>
      <td>2020-05-02T06:22:51.000</td>
      <td>2020-05-02T16:55:48.000</td>
      <td>633</td>
      <td>6</td>
      <td>-37.83010731733697</td>
      <td>144.96644468290793</td>
    </tr>
    <tr>
      <th>55</th>
      <td>5982</td>
      <td>2020-03-05T11:12:40.000</td>
      <td>2020-03-05T11:20:00.000</td>
      <td>8</td>
      <td>8</td>
      <td>-37.809872518390044</td>
      <td>144.96314039388494</td>
    </tr>
    <tr>
      <th>56</th>
      <td>5132</td>
      <td>2020-02-14T22:25:38.000</td>
      <td>2020-02-15T00:00:00.000</td>
      <td>95</td>
      <td>6</td>
      <td>-37.82604382216543</td>
      <td>144.96730883675184</td>
    </tr>
    <tr>
      <th>57</th>
      <td>4567</td>
      <td>2020-04-02T14:10:21.000</td>
      <td>2020-04-02T14:36:12.000</td>
      <td>26</td>
      <td>6</td>
      <td>-37.82999535434108</td>
      <td>144.96926378997293</td>
    </tr>
    <tr>
      <th>58</th>
      <td>6425</td>
      <td>2020-04-24T17:20:36.000</td>
      <td>2020-04-24T17:37:18.000</td>
      <td>17</td>
      <td>1</td>
      <td>-37.82096898384398</td>
      <td>144.94621528438944</td>
    </tr>
    <tr>
      <th>59</th>
      <td>5229</td>
      <td>2020-05-19T15:58:48.000</td>
      <td>2020-05-19T16:01:40.000</td>
      <td>3</td>
      <td>10</td>
      <td>-37.81171126342535</td>
      <td>144.95212969396388</td>
    </tr>
    <tr>
      <th>60</th>
      <td>5083</td>
      <td>2020-04-21T18:30:00.000</td>
      <td>2020-04-22T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.82527566721832</td>
      <td>144.9695816357146</td>
    </tr>
    <tr>
      <th>61</th>
      <td>6160</td>
      <td>2020-01-03T21:24:30.000</td>
      <td>2020-01-03T21:38:13.000</td>
      <td>14</td>
      <td>1</td>
      <td>-37.81865309443643</td>
      <td>144.94754747395712</td>
    </tr>
    <tr>
      <th>62</th>
      <td>5123</td>
      <td>2020-04-23T18:30:00.000</td>
      <td>2020-04-24T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.82586309944145</td>
      <td>144.96758346663125</td>
    </tr>
    <tr>
      <th>63</th>
      <td>6323</td>
      <td>2020-02-04T18:30:00.000</td>
      <td>2020-02-05T00:00:00.000</td>
      <td>330</td>
      <td>1</td>
      <td>-37.82141258356655</td>
      <td>144.951144660865</td>
    </tr>
    <tr>
      <th>64</th>
      <td>5138</td>
      <td>2020-04-04T00:00:00.000</td>
      <td>2020-04-04T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.82609991914787</td>
      <td>144.9671176176633</td>
    </tr>
    <tr>
      <th>65</th>
      <td>6105</td>
      <td>2020-05-07T19:04:04.000</td>
      <td>2020-05-07T21:12:31.000</td>
      <td>128</td>
      <td>1</td>
      <td>-37.819255595277355</td>
      <td>144.94580653889028</td>
    </tr>
    <tr>
      <th>66</th>
      <td>5121</td>
      <td>2020-04-20T00:00:00.000</td>
      <td>2020-04-20T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.82585564463342</td>
      <td>144.96760905564972</td>
    </tr>
    <tr>
      <th>67</th>
      <td>6760</td>
      <td>2020-03-02T00:20:51.000</td>
      <td>2020-03-02T00:34:08.000</td>
      <td>14</td>
      <td>1</td>
      <td>-37.82088566429645</td>
      <td>144.9441655051868</td>
    </tr>
    <tr>
      <th>68</th>
      <td>5154</td>
      <td>2020-05-04T00:00:00.000</td>
      <td>2020-05-04T05:35:39.000</td>
      <td>335</td>
      <td>6</td>
      <td>-37.82604730730507</td>
      <td>144.9669511936744</td>
    </tr>
    <tr>
      <th>69</th>
      <td>5143</td>
      <td>2020-04-12T18:30:00.000</td>
      <td>2020-04-13T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.82593703115003</td>
      <td>144.96732970469938</td>
    </tr>
    <tr>
      <th>70</th>
      <td>5093</td>
      <td>2020-04-01T18:30:00.000</td>
      <td>2020-04-01T23:02:47.000</td>
      <td>272</td>
      <td>6</td>
      <td>-37.82559015176679</td>
      <td>144.9688633278964</td>
    </tr>
    <tr>
      <th>71</th>
      <td>5086</td>
      <td>2020-05-16T18:30:00.000</td>
      <td>2020-05-17T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.825440092060454</td>
      <td>144.9690100993639</td>
    </tr>
    <tr>
      <th>72</th>
      <td>5111</td>
      <td>2020-05-25T00:00:00.000</td>
      <td>2020-05-25T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.82556958569441</td>
      <td>144.96856666837235</td>
    </tr>
    <tr>
      <th>73</th>
      <td>5335</td>
      <td>2020-04-27T17:06:34.000</td>
      <td>2020-04-27T17:13:01.000</td>
      <td>7</td>
      <td>6</td>
      <td>-37.82696640347776</td>
      <td>144.9675944428015</td>
    </tr>
    <tr>
      <th>74</th>
      <td>5126</td>
      <td>2020-04-27T00:00:00.000</td>
      <td>2020-04-27T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.825987510994196</td>
      <td>144.96750057313872</td>
    </tr>
    <tr>
      <th>75</th>
      <td>5153</td>
      <td>2020-04-06T00:00:00.000</td>
      <td>2020-04-06T07:30:00.000</td>
      <td>450</td>
      <td>6</td>
      <td>-37.82603985218802</td>
      <td>144.9669767828271</td>
    </tr>
    <tr>
      <th>76</th>
      <td>5080</td>
      <td>2020-04-06T18:30:00.000</td>
      <td>2020-04-07T00:00:00.000</td>
      <td>330</td>
      <td>6</td>
      <td>-37.825251359134185</td>
      <td>144.9696647625151</td>
    </tr>
    <tr>
      <th>77</th>
      <td>5133</td>
      <td>2020-03-23T19:13:47.000</td>
      <td>2020-03-23T19:36:38.000</td>
      <td>23</td>
      <td>6</td>
      <td>-37.82590006559615</td>
      <td>144.96745658543585</td>
    </tr>
    <tr>
      <th>78</th>
      <td>5088</td>
      <td>2020-01-26T20:31:36.000</td>
      <td>2020-01-26T20:34:22.000</td>
      <td>3</td>
      <td>6</td>
      <td>-37.82545626217025</td>
      <td>144.96895466494584</td>
    </tr>
    <tr>
      <th>79</th>
      <td>6372</td>
      <td>2020-03-24T19:53:14.000</td>
      <td>2020-03-24T19:53:35.000</td>
      <td>0</td>
      <td>1</td>
      <td>-37.8204134675353</td>
      <td>144.9440488765303</td>
    </tr>
    <tr>
      <th>80</th>
      <td>5129</td>
      <td>2020-02-20T22:16:07.000</td>
      <td>2020-02-20T22:16:43.000</td>
      <td>0</td>
      <td>6</td>
      <td>-37.825885155130365</td>
      <td>144.96750776409695</td>
    </tr>
    <tr>
      <th>81</th>
      <td>5116</td>
      <td>2020-01-26T20:07:33.000</td>
      <td>2020-01-26T22:13:21.000</td>
      <td>126</td>
      <td>6</td>
      <td>-37.82560977501026</td>
      <td>144.96842918210803</td>
    </tr>
    <tr>
      <th>82</th>
      <td>5107</td>
      <td>2020-02-05T19:09:45.000</td>
      <td>2020-02-05T19:12:44.000</td>
      <td>3</td>
      <td>6</td>

In [31]:
text_file = open("../templates/loaddata.html", "w")
text_file.write(html)
text_file.close()